
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.header{
  height:34.1px;
  margin-top: 13px;
}
.logo{
  margin-top: -10px;
  margin-right: 60px;
}
.menu, .sub_menu, #basic-nav-dropdown{
  color:#1A1A1A;

  font-family: "Roboto", serif;
  /* font-family: "Inter", sans-serif; */
  font-size: 16px;
}
.service, .technologies, .products, .aboutus, .industries, .career{
  margin-right: 25px;
}
.case_studies{
  margin-right: 173.33px;
}
.contact{
  background: white;
  border: 1px solid #E0E0E0;
  margin-top: -10px;
  border-radius: 6px;
  transition: 0.5s;
  padding: 10px 15px 10px 15px;
}
.contact:hover{
  background: rgb(11, 11, 11);
  color:white;
}